@import '/styles/common/placeholders';
@import '/styles/common/variables';
@import '/styles/common/mixins';

.notice {
  &__line {
    position: relative;
    height: 62px;

    .bg-left {
      position: absolute;
      background-color: #333;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .bg-right {
      position: absolute;
      background-color: #f6f5ef;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
    }

    .inner {
      @extend %plchd-inner;
      display: flex;

      h2 {
        font-size: 17px;
        font-weight: 700;
      }

      .inner__icon {
        font-size: 23px;
        cursor: pointer;
      }

      .inner__left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 62px;
        background-color: #333;
        color: #fff;

        .inner__swiper {
          font-size: 16px;
          width: 80%;
          padding: 0 20px;
        }
      }

      .inner__right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        gap: 35px;
        color: #333;
      }
    }
  }
}
