@import '/styles/common/placeholders';
@import '/styles/common/variables';
@import '/styles/common/mixins';

.visual {
  margin-top: 120px;
  background-image: url('../../public/images/visual_bg.jpg');
  background-position: center;

  .fade-in {
    // opacity: 0;
  }

  &__inner {
    @extend %plchd-inner;
    height: 646px;
  }

  &__title {
    position: absolute;
    top: 88px;
    left: -10px;

    .btn {
      @extend %plchd-btn;
      position: absolute;
      top: 259px;
      left: 173px;
    }
  }

  .cup1 {
    @include visualCup(0px, -47px, 38px, 171px);
  }

  .cup2 {
    @include visualCup(0px, 162px, 321px, 416px);
  }

  .spoon {
    position: absolute;
    bottom: 0;
    left: 275px;
  }
}
