.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;

  .youtube__player {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: -20%;
    left: 50%;
    transform: translate(-50%);
  }

  .youtube__cover {
    height: 700px;
    width: 100%;
    position: absolute;
    background-image: url('../../public/images/video_cover_pattern.png');
    opacity: 0.4;
    border: 10px solid white;
  }
}
