$header-backgroud-color: #f6f5f0;
$header-border-color: #c8c8c8;
$header-a-tag-color: #656565;
$header-a-tag-hover-color: #000;
$input-font-color: #777;
$input-border-color: #ccc;
$input-font-size: 12px;
$sub-menu-title-font-size: 13px;
$green-color: #669900;
$dropdown-menu-background-color: #2c2a29;
$dropdown-menu-font-color: #999;
$dropdown-menu-small-font-size: 14px;
$dropdown-menu-info-font-size: 12px;
$dropdown-menu-info-font-color: #999;
$shadow-effect: 4px 4px 10px rgba(0, 0, 0, 0.15);

$footer-backgroud-color: #272727;
$footer-border-color: #333;
$footer-dot-color: #555;
$footer-a-tag-color: #ccc;
$footer-a-tag-font-size: 12px;
