$header-backgroud-color: #f6f5f0;
$header-border-color: #c8c8c8;
$header-a-tag-color: #656565;
$header-a-tag-hover-color: #000;
$input-font-color: #777;
$input-border-color: #ccc;
$input-font-size: 12px;
$green-color: #669900;

$footer-backgroud-color: #272727;
$footer-border-color: #333;
